.foodChoose {
  width: 200px;
  height: 100%;
  text-align: center;
  background: transparent;
  /* background: #fff; */
}

.ant-layout-sider {
  background: transparent;
}

.ant-menu {
  background: none;
  border: none;
}